div.fb-login-button.fb_iframe_widget span{
    width: 253px !important;
    height: 40px !important;
}
div.fb-login-button.fb_iframe_widget span iframe{
    visibility: visible !important;
    width: 253px !important;
    height: 40px !important;
}


form.tourmaster-login-form .separator {
    text-align: center;
    margin-bottom: 30px;
}

form.tourmaster-login-form .separator span {
    background-color: #fff;
    font-size: 12px;
    padding: 10px;
}

form.tourmaster-login-form .separator hr {
    margin: -10px auto 10px;
    width: 90%;
    margin-bottom: 40px;
    border: 0;
    border-top: 1px solid #ddd;
}
form.tourmaster-login-form2 .separator {
    text-align: center;
    margin-bottom: 30px;
}

form.tourmaster-login-form2 .separator span {
    background-color: #fff;
    font-size: 12px;
    padding: 10px;
}

form.tourmaster-login-form2 .separator hr {
    margin: -10px auto 10px;
    width: 90%;
    margin-bottom: 40px;
    border: 0;
    border-top: 1px solid #ddd;
}
