.tourmaster-tour-booking-room {
    margin-bottom: 35px;
}

.tourmaster-tour-booking-room>i {
    font-size: 20px;
    line-height: 45px;
    float: left;
    width: 30px;
    margin-right: 15px;
}

.tourmaster-tour-booking-room-input {
    overflow: hidden;
}

.tourmaster-tour-booking-room-template {
    display: none!important;
}

.tourmaster-tour-booking-people {
    margin-bottom: 35px;
}

.tourmaster-tour-booking-people>i {
    font-size: 20px;
    line-height: 45px;
    float: left;
    width: 30px;
    margin-right: 15px;
}

.tourmaster-tour-booking-people-input {
    overflow: hidden;
}

.tourmaster-tour-booking-people.tourmaster-variable {
    margin-bottom: 15px;
}

.tourmaster-tour-booking-people-input.tourmaster-variable .tourmaster-combobox-wrap {
    width: 48%;
    float: left;
    margin-bottom: 15px;
}

.tourmaster-tour-booking-people-input.tourmaster-variable .tourmaster-combobox-wrap:nth-child(odd) {
    margin-right: 2%;
}

.tourmaster-tour-booking-people-input.tourmaster-variable .tourmaster-combobox-wrap:nth-child(even) {
    margin-left: 2%;
}

.tourmaster-tour-booking-people-container {
    margin: 0px -35px 0px;
    padding: 35px 35px 5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.tourmaster-tour-booking-people-container .tourmaster-tour-booking-room-text {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    float: left;
    margin-right: 20px;
    line-height: 45px;
}

.tourmaster-tour-booking-submit {
    margin-bottom: 35px;
}

.tourmaster-tour-booking-submit>i {
    font-size: 20px;
    line-height: 45px;
    float: left;
    width: 30px;
    margin-right: 15px;
}

.tourmaster-tour-booking-submit-input {
    overflow: hidden;
}








.tourmaster-form-field input[type="text"],.tourmaster-form-field input[type="email"],.tourmaster-form-field input[type="password"],.tourmaster-form-field textarea,.tourmaster-form-field select {
    font-size: 13px;
    height: 48px;
    padding: 12px 17px;
    width: 100%;
    border: 0px;
    outline: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.tourmaster-form-field textarea {
    height: 125px;
}

.tourmaster-form-field select,.tourmaster-form-field select:focus {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.tourmaster-tour-booking-submit {
	display: none !important;
}