/*

THIS FILE IS OVERWRITTEN EVERY TIME YOU UPDATE THE PLUGIN.
USE THE CUSOTM CSS OPTION IN THE SUBSCRIPTION SETTING PANEL FOR YOUR
CUSTOM CSS RULES.

*/



.tnp-subscription {
    font-size: 13px;
    display: block;
    margin: 15px auto;
    max-width: 500px;
    width: 100%;
}

/* Generic field wrapper */
.tnp-subscription div.tnp-field {
    margin-bottom: 10px;
    border: 0;
    padding: 0;
}

.tnp-subscription label {
    display: block;
    color: inherit;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    padding: 5px;
    margin: 0;
}

.tnp-subscription input[type=text], 
.tnp-subscription input[type=email], 
.tnp-subscription input[type=submit], 
.tnp-subscription select {
    width: 100%;
    height: 50px;
    padding: 10px;
    display: block;
    border: 1px;
    border-color: #ddd;
    background-color: #f4f4f4;
    background-image: none;
    text-shadow: none;
    color: #444;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    line-height: normal;
    box-sizing: border-box;
}

.tnp-subscription input[type=checkbox], 
.tnp-widget input[type=radio] {
    max-width: 20px;
    display: inline;
}

/* Antireset - http://www.satollo.net/css-and-select-space-between-the-options-and-the-arrow */
.tnp-subscription select option {
    margin-right: 10px;
}

.tnp-subscription input.tnp-submit {
    background-color: #444;
    color: #fff;
    width: auto;
    height: auto;
}

@media all and (max-width: 480px) {
    .tnp-subscription input[type=submit] {
        width: 100%;
    }
}


/* Profile form */

.tnp-profile {
    font-size: 13px;
}

.tnp-profile form .tnp-field {
    margin-bottom: 10px;
    border: 0;
    padding: 0;
}

.tnp-profile form .tnp-field label {
    display: block;
    color: #333;
    font-size: 14px;
}

.tnp-profile form .tnp-field input[type=text], 
.tnp-profile form .tnp-field input[type=email], 
.tnp-profile form .tnp-field input[type=submit], 
.tnp-profile form .tnp-field textarea, 
.tnp-profile form .tnp-field select {
    padding: 10px;
    display: block;
    border: 1px;
    border-color: #ddd;
    background-color: #f4f4f4;
    background-image: none;
    text-shadow: none;
    color: #444;
    font-size: 14px;
    margin: 0;
    line-height: normal;
    box-sizing: border-box;
    border-radius: 0;
    height: auto;
    float: none;
}

.tnp-profile form input[type=checkbox], .tnp-profile input[type=radio] {
    max-width: 20px;
    display: inline;
}

.tnp-profile form .tnp-list-label {
    margin-left: 15px;
}

/* Antireset - http://www.satollo.net/css-and-select-space-between-the-options-and-the-arrow */
.tnp-profile form select option {
    margin-right: 10px;
}

.tnp-profile form .tnp-field input[type=submit] {
    background-color: #444;
    color: #fff;
    width: auto;
    height: auto;
}

@media all and (max-width: 480px) {
    .tnp-profile input[type=submit] {
        width: 100%;
    }
}



.tnp-widget {
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.tnp-widget .tnp-field {
    margin-bottom: 10px;
    border: 0;
    padding: 0;
}

.tnp-widget label {
    display: block;
    color: inherit;
    font-size: 14px;
}

.tnp-widget input[type=text], .tnp-widget input[type=email], .tnp-widget input[type=submit], .tnp-widget select {
    width: 100%;
    padding: 10px;
    display: block;
    border: 1px solid #ddd ;
    border-color: #ddd;
    background-color: #f4f4f4;
    background-image: none;
    text-shadow: none;
    color: #444;
    font-size: 14px;
    line-height: normal;
    box-sizing: border-box;
    height: auto;
}

.tnp-widget input[type=checkbox], .tnp-widget input[type=radio] {
    width: auto;
    display: inline;
}

/* Antireset - http://www.satollo.net/css-and-select-space-between-the-options-and-the-arrow */
.tnp-widget select option {
    margin-right: 10px;
}

.tnp-widget input.tnp-submit {
    background-color: #444;
    background-image: none;
    text-shadow: none;
    color: #fff;
}

.tnp-field input[type="submit"] {
    position: inherit;
}

.tnp-field label {
    
}

/* Newsletter Widget Minimal */

.tnp-widget-minimal {
    width: 100%;
}

.tnp-widget-minimal form {
    margin: 0;
    padding: 0;
    border: 0;
}

.tnp-widget-minimal input.tnp-email {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: inline-block;
    border: 1px;
    border-color: #ddd;
    background-color: #f4f4f4;
    color: #444;
    font-size: 14px;
    box-sizing: border-box;
}

.tnp-widget-minimal input.tnp-submit {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: inline-block;
    border: 1px;
    border-color: #ddd;
    background-color: #444;
    background-image: none;
    text-shadow: none;
    color: #fff;
    font-size: 14px;
    line-height: normal;
    border-radius: 0px;
    box-sizing: border-box;
    height: auto;
}

/* The minimal form */

.tnp-subscription-minimal {
    width: 100%;
    box-sizing: border-box;
}

.tnp-subscription-minimal form {
    margin: 0;
    padding: 0;
    border: 0;
}

.tnp-subscription-minimal input.tnp-email {
    width: 70%;
    max-width: 300px;
    box-sizing: border-box;
    padding: 10px;
    display: inline-block;
    border: 1px;
    border-color: #ddd;
    background-color: #f4f4f4;
    color: #444;
    font-size: 14px;
    line-height: 20px;
    box-sizing: border-box;
    border-radius: 0px;
}

.tnp-subscription-minimal .tnp-privacy-field {
    margin-top: 10px;
}

.tnp-subscription-minimal input.tnp-submit {
    width: 29%;
    box-sizing: border-box;
    display: inline-block;
    padding: 10px;
    border: 1px;
    border-color: #ddd;
    background-color: #444;
    background-image: none;
    text-shadow: none;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    box-sizing: border-box;
    border-radius: 0px;
}

/* Comments Extension */
.tnp-comments {
    clear: both;
    margin-top: 15px;
    margin-bottom: 15px;
}

.tnp-comments label {
    display: block;
}

.tnp-comments input[type=checkbox] {
    display: inline;
    width: auto!important;
}


/* Locked Content Extension */
.tnp-lock {
    clear: both;
    display: block;
    box-sizing: border-box;
    box-shadow: none;
    margin: 20px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
}


/* mobile menu */


#mm-0 {
    transform: none;
}
#mm-blocker {
    display: none !important;
    transform: none;
}
.book, .book-icon {
    display: none;
}
@media (max-width: 999px) {
    .traveltour-mobile-header {
        padding-top: 5px;
        transform: none !important;
        background-color: rgba(0,0,0,0.5) !important;
    }
    .traveltour-top-bar-background {
        transform: none !important;
        background-color: transparent !important;
    }

    #traveltour-mobile-menu {
        width: 100% !important;
        background: black !important;
        margin-top: 0 !important;
        z-index: 3 !important;
    }
    .mm-panels, .mm-panels .mm-panel {
        width: 100% !important;
    }

    .traveltour-mobile-header-wrap .traveltour-top-bar {
        transform: none !important;
        position: absolute !important;
    }
    .traveltour-mobile-header-wrap {
        position: fixed !important;
        top: 0 !important;
        width: 100% !important;
        z-index: 4 !important;
    }
    .mm-listview li.current-menu-item>a {
        color: black !important;
    }
    .mm-listview li a {
        color: #848484 !important;
    }
    .traveltour-mobile-menu-button i {
        color: white !important;
    }
    .mm-panel.mm-hasnavbar .mm-navbar {
        margin-bottom: 0;
    }
    ul.mm-listview li a {
        color: white !important;
    }
    .mm-navbar .mm-title:hover, .mm-navbar .mm-btn:hover, ul.mm-listview li a:hover, ul.mm-listview li>span:hover, ul.mm-listview li.current-menu-item>a, ul.mm-listview li.current-menu-ancestor>a, ul.mm-listview li.current-menu-ancestor>span {
        color: #848484 !important;
    }
    ul.mm-listview li a:hover+a {
        color: #848484 !important;
    }
    ul.mm-listview li.current-menu-item>a {
        color: #848484 !important;
    }
    .book-icon {
        font-size: 28px;
        display: inline-block !important;
        margin-left: 10px;
    }
    .book-icon i {
        color: white;
    }
    .mm-navbar .mmenu-custom-close:after {
        content: '';
    }
    .mm-panels {
        margin-top: 15px;
    }
    .tourmaster-user-top-bar {
        position: fixed !important;
        right: 65px;
        top: 14px;
        z-index: 9999;
    }
    .tourmaster-user-top-bar-signup {
        display: none;
    }
    .tourmaster-user-top-bar-login {
        display: none;
    }
    .traveltour-mobile-header {
        padding-bottom: 0;
    }
    .traveltour-top-bar-right-social {
        display:none !important;
    }
    .traveltour-top-bar {
        padding: 0;
    }

    .tourmaster-user .fa-sort-down {
        display: none !important;
    }
    .tourmaster-user-top-bar-nav {
        top: 36px;
        padding: 0
    }
    .tourmaster-user-top-bar-name {
        display: none;
    }
    .traveltour-mobile-header-container {
        max-width: none !important;
    }
    .tourmaster-user {
        padding-bottom: 10px;
    }
    .book {
        display: inline-block;
        float: left;
    }
    .tourmaster-user img {
        margin-left: 10px;
    }
}
@media (min-width: 768px) and (max-width: 999px) {
    .tourmaster-user-top-bar {
        top: 18px;
    }
}
.tourmaster-tour-content-wrap {
    padding: 0 0 0 15px !important;
}
.tourmaster-content-right {
    padding-right: 10px !important;
    padding-left: 10px !important;
}
.tourmaster-content-left {
    width: 60% !important;
    padding-right: 5px !important;
}
.tourmaster-tour-price-wrap .tourdate b{
    margin-right: 5px;

}
.tourdate {
    display: block;
}
.tourdate div {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 9pt;
    width: 50%;
}
.hidden {
    display: none;
}
@media (max-width: 1100px) {
    .tourdate div {
        width: auto;
    }
}
.traveltour-header-wrap {
    transform: none !important;
}